/* your custom css */

@font-face {
    font-family: "Fira Mono";
    src: url("./fonts/FiraMono-Regular.ttf");
}

.projectTitle{
    font-family: 'Fira Mono', monospace;
}

.projectLogo{
    padding: 2em 220px 4em
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper #inner {
    max-width: 750px;
  }

  .homeContainer .homeWrapper .projectLogo {
    padding: 2em 220px 4em
  }

}

